<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
</head>
<body ng-app="myApp">
<div class="container" ng-controller="AppController">
    <div class="page-header">
        <h1>List of persons</h1>
    </div>
    <div class="alert alert-info" role="alert" ng-hide="persons && persons.length > 0">
        There are no persons on the list yet.
    </div>
    <form class="form-horizontal" role="form" ng-submit="addPerson(personName, personAge)">
        <div class="form-group" ng-repeat="person in persons">
            <div class="row">
                <div class="col-md-8">
                    <label>
                        <output>Name: {{person.name}}</output>
                        <output>Age: {{person.age}}</output>
                        <output>Description: {{person.info}}</output>
                    </label>
                </div>
                <div class="col-xs-3">
                    <button class="pull-right btn btn-danger" type="button" title="Delete"
                            ng-click="deletePerson(person)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
        <hr />
        <div class="input-group">
            <input type="text" class="form-control" ng-model="personName" placeholder="Enter the name..." />
            <input type="number" class="form-control" ng-model="personAge" placeholder="Enter age..." />
            <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!personName" title="Add">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
    </form>
</div>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/controllers.js"></script>
<script type="text/javascript" src="./app/services.js"></script>
</body>
</html>